body{
    margin-top: -29px;
}

/*                       Back to top                    */

#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: #f5f5f5;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 16px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top:hover {
    background: #e9ebec;
}
#back-to-top.show {
    opacity: 1;
}


/*                       navbar                    */
.navbar-default .container {
    width: 100%;
}
.navbar-default {
    margin-top: 29px;
    width: 100%;
    height: 21px;
    background:transparent;
    border: none;
}
.navbar-default .navbar-nav{
    margin-top: 25px;
    float: right;
}
.dropdown-menu>li>a{
    color: #FFFFFF;
    font-family: Lato;
    font-weight: 400;
    font-size: 17px;
    background-color: transparent;

}
.navbar-nav>li>.dropdown-menu{
    background-color: transparent;
}
.dropdown-menu>li>a:hover{
    color: #FFFFFF;
    background-color: transparent;

}
.navbar-default .navbar-nav>li>a{
    padding-top: 0;
    font-family: Lato;
    font-weight: 600;
    font-size: 17px;
    color: #FFFFFF;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    color: #FFFFFF;
    background-color: transparent;
}
li a p:hover{
    border-bottom: 2px solid #00AED8;
    padding-bottom: 5px;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #FFFFFF;
}
.navbar-default .navbar-nav>.active>a {
    color: #FFFFFF;
    background-color: transparent;
    padding-bottom: 5px;
}

/*                       home                    */
.intro-banner {
    width: 100%;
    height: 657px;
    opacity: 0.72;
    background: url(../img/slide.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.list-inline {
    margin-top: 54px;
}
#button_forum {
    width: 177px;
    height: 52px;
    font-family: Lato;
    font-weight: 900;
    font-size: 20px;
    border: 0;
    border-radius: 100px;
    color: white;
    background-color: #00AED8;
}
#button_profile {
    width: 177px;
    height: 52px;
    border: 0;
    font-family: Lato;
    font-weight: 900;
    font-size: 20px;
    border-radius: 100px;
    color: #00AED8;
    background-color: white;
}
.paragrap_1_home{
    margin-top: 120px;
    width: 100%;
    height: 36px;
    opacity: 0.53;
    font-family: Lato;
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;
    text-shadow: 0 6px 7px rgba(0,0,0,0.16);
}

.paragrap_2_home{
    width: 584px;
    height: 124px;
    font-family: Lato;
    font-weight: 900;
    font-size: 64px;
    color: #FFFFFF;
    line-height: 62px;
    text-shadow: 0 5px 8px rgba(0,0,0,0.21);
}
.paragrap_1_home_hidden{
    display: none;
}
.paragrap_2_home_hidden{
    display: none;
}

/*                       logo                    */
#carousel{
    margin-top: 50px;
}
#logo{
    margin-left: 27px;
    width: 168px;
    height: 49px;
}
.slider {
    width: 50%;
    margin: auto;
}
.slick-slide img {
    width: 100%;
}
.slick-prev:before,
.slick-next:before {
    color: black;
}


/*                       about                    */


#ship{
    margin-right: 30px;
    margin-left: 15px;
    width: 45%;
    height: 367px;
    background: #00AED8;
    box-shadow: 0 20px 22px 0 rgba(0,174,216,0.23);
    border-radius: 5px;
}
#haul{
    width: 45%;
    height: 367px;
    opacity: 0.55;
    background: #F1F1F1;
    border-radius: 5px;
}
.icon{
    opacity: 0.3;
    filter: grayscale(100%);
    transition: 0.3s all;
}
.icon:nth-child(1n + 2){
    margin-left: 117px;
}
.icon:hover{
    filter: grayscale(0%);
    opacity: 1;
    cursor: pointer;
}

#ship .title{
    margin-top: 35px;
    margin-left: 30px;
    margin-bottom: 20px;
    font-family: Lato;
    font-weight: 900;
    font-size: 38px;
    color: #FFFFFF;
    line-height: 62px;
}
#haul .title{
    margin-top: 35px;
    margin-bottom: 20px;
    margin-left: 30px;
    font-family: Lato;
    font-weight: 900;
    font-size: 38px;
    color: #414449;
    line-height: 62px;
}
#button_ship {
    margin-top: 30px;
    margin-left: 30px;
    width: 165px;
    height: 48px;
    border: 0;
    font-family: Lato;
    font-weight: 900;
    font-size: 20px;
    border-radius: 100px;
    color: #00AED8;
    background-color: white;
}
#button_carry {
    margin-top: 40px;
    margin-left: 30px;
    width: 165px;
    height: 48px;
    border: 0;
    font-family: Lato;
    font-weight: 900;
    font-size: 20px;
    border-radius: 100px;
    color: white;
    background-color: #00AED8;
}
.paragrap_ship{
    margin-left: 30px;
    width: 325px;
    height: 102px;
    font-family: Lato;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    line-height: 34px;
}

.paragrap_haul{
    margin-bottom: 0;
    margin-left: 30px;
    width: 203px;
    font-family: Lato;
    font-weight: 400;
    font-size: 24px;
    color: #9B9B9B;
    line-height: 34px;
}

.img{
    position: absolute;
    margin-left: 215px;
}
#ship_haul{
    margin-top: 50px;
    margin-bottom: 50px;
}

.content-section{
    width: 100%;
    height: 100%;
    background: #F8F8F8;
}
.paragrap_2_about {
    width: 482px;
    font-family: Lato;
    font-weight: 400;
    font-size: 20px;
    color: #9B9B9B;
    line-height: 25px;
    margin-bottom: 20px;
}
.paragrap_1_about{
    width: 501px;
    margin-bottom: 40px;
    height: 84px;
    font-family: Lato;
    font-weight: 900;
    font-size: 34px;
    color: #414449;
    line-height: 42px;
}

.section-heading-spacer1 {
    margin-top: 70px;
    float: left;
    margin-bottom: 0;
    width: 70px;
    height: 6px;
    background: #00AED8;
}
.img-responsive {
    margin-top: 55px;
    height: 470px;
    float: right;
    width: 48%;
    position: absolute;
    right: 0;
}

/*              features                 */

.features .intro-banner{
    background: url(../img/Group4.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 344px;
    opacity: 0.72;
}
#features_left img{
    float: left;
    cursor: pointer;
    margin-top: 50px;
    width: 470px;
    height: 322px;
    box-shadow: 0 13px 22px 0 rgba(0,0,0,0.12);
    border-radius: 5px;
}
.btn-info {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}
.btn-group-lg>.btn, .btn-lg {
    padding: 0 0;
}
.btn {
    padding: 0 0;
    border: 0;
}
video {
    width: 568px;
}
#div5{
    margin-left: 681px;
    width: 75px;
    height: 5px;
    background: #00AED8;
}

#ff{
    height: 36px;
    margin-top: 20px;
    opacity: 0.8;
    font-family: Lato;
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;
}
#fff{
    height: 108px;
    margin-top: 20px;
    font-family: Lato;
    font-weight: 900;
    font-size: 48px;
    color: #FFFFFF;
    line-height: 54px;
}

#title_features{
    text-align: center;
    height: 54px;
    font-family: Lato;
    font-weight: 900;
    font-size: 48px;
    color: #414449;
    line-height: 54px;
}
#paragrap_3_features{
    padding-left: 26%;
    width: 75%;
    text-align: center;
    height: 50px;
    font-family: Lato;
    font-weight: 900;
    font-size: 20px;
    color: #9B9B9B;
    line-height: 25px;
}
.section-heading-spacer2 {
    margin-top: 70px;
    width: 70px;
    height: 6px;
    background: #00AED8;
}
.section-heading-spacer3 {
    margin-top: 70px;
    width: 70px;
    height: 6px;
    background: #00AED8;
}

.col-md-3{
    height: 200px;
}

.col-md-3 .title{
    margin-top: 20px;
    margin-left: 15px;
    font-family: Lato;
    font-weight: 900;
    font-size: 22px;
    color: #414449;
    line-height: 42px;
}
.col-md-3 p{
    width: 208px;
    margin-left: 15px;
    font-family: Lato;
    font-weight: 400;
    font-size: 16px;
    color: #9B9B9B;
    line-height: 20px;
}
.col-md-3 {
    margin-top: 50px;
    height: 245px;
    width: 21%;
    margin-left: 30px;
    background: #F8F8F8;
    border-radius: 5px
}
.col-md-3:nth-child(1n + 5) {
    margin-bottom: 50px;

}

.icon_col-3{
    margin-top: 20px;
    margin-left: 15px;
}
#features_right{
    margin-left: 70px;
}
.paragrap_1_features{
    opacity: 0.8;
    font-family: Lato;
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;
}
.paragrap_2_features{
    font-family: Lato;
    font-weight: 900;
    font-size: 47px;
    color: #FFFFFF;
    width: 562px;
    line-height: 54px;
}

#container_features{
    text-align: center;
    width: 100%;
    height: 438px;
    background: #00AED8;
}
#container_features .title{
    margin-top: 68px;
    text-align: center;
    opacity: 0.8;
    font-family: Lato;
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;
}
#container_features .featured{
    margin-top: 13px;
    text-align: center;
    width: 67%;
    margin-left: 17%;
    height: 162px;
    font-family: Lato;
    font-weight: 900;
    font-size: 48px;
    color: #FFFFFF;
    line-height: 54px;
}

#button_talk_to_our_team{
    margin-top: 35px;
    width: 212px;
    height: 48px;
    border: 0;
    border-radius: 100px;
    font-family: Lato;
    font-weight: 900;
    font-size: 20px;
    color: #00AED8;
    background-color: #FFFFFF;
}

/*                        contact               */

input{
    float: left;
    width: 84%;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    border-radius: 5px;
}
#contact .col-md-12 input{
    margin-top: 8px;
    width: 95%;
    height: 108px;
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    border-radius: 5px;
}
#paragrap_1_contact{
    text-align: center;
    font-family: Lato;
    font-weight: 900;
    font-size: 48px;
    color: #414449;
    line-height: 54px;
}

#paragrap_2_contact{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0px;
    opacity: 0.35;
    font-family: Lato;
    font-weight: 600;
    font-size: 16px;
    color: #414449;
}
#paragrap_3_contact{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Lato;
    font-weight: 600;
    font-size: 26px;
    color: #00AED8;
}
#paragrap_4_contact{
    text-align: center;
    margin-top: 7px;
    margin-bottom: 0px;
    opacity: 0.35;
    font-family: Lato;
    font-weight: 400;
    font-size: 14px;
    color: #414449;
}
#contact{

    margin-top: 0;
    padding-top: 30px;
    text-align: center;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
    background: #F8F8F8;
}

lable{
    font-family: Lato;
    font-weight: 600;
    font-size: 16px;
    color: #414449;
}
#button_get_in_touch{
    margin-top: 35px;
    width: 212px;
    height: 44px;
    border: 0;
    border-radius: 100px;
    font-family: Lato;
    font-weight: 900;
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 15px;
    background-color: #00AED8;
}

/*                                    address                       */
#address{
    margin-left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
    background: #414449;
}
#address .col-md-4 img{
    height: 28px;
}
.col-md-12 .title {
    text-align: left;
}
#address label{
    opacity: 0.35;
    font-family: Lato;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}
.col-md-4 .title{
    padding-top: 16px;
    padding-bottom: 7px;
    text-align: left;
    font-family: Lato;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}
#address p{
    margin: 0;
    font-family: Lato;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}


.col-md-4{
    margin-top: 50px;
}

#p3{
    padding-top: 7px;
    margin: 0;
    width: 130px;
    font-family: Lato;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}

/*                           footer                          */

#footer{
    width: 100%;
    height: 82px;
    background: #393C42;
}
#footer .footer-copyright {
    text-align: center;
    display: block;
    padding-top: 29px;
    opacity: 0.35;
    font-family: Lato;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}
.address_hidden{
    display: none;
}
#modal_video{
    cursor: pointer;
    display: none;
}
#title_features_hidden{
    display: none;
}
.container_features_hidden{
    display: none;
}
.p{
    display: none;
}
#paragraph_hidden{
    display: none;
}
.paragrap_2_features_hidden{
    display: none;
}

@media(min-width: 1024px) and (max-width: 1200px){
    .icon:nth-child(1n + 2) {
        margin-left: 72px;
    }
    .img {
        margin-left: 128px;
    }
    .paragrap_2_features {
        width: 450px;
    }
    .col-md-3 p {
        width: 173px;
    }
    .col-md-3 {
        height: 261px;
    }
    #container_features .featured {
        width: 86%;
        margin-left: 8%;
    }
    #paragrap_3_features {
        padding-left: 22%;
        width: 78%;
    }
}
@media(min-width: 992px) and (max-width: 1023px){
    .img {
        margin-left: 118px;
    }
    #ship .title, #haul .title {
        margin-bottom: 64px;
    }
    .paragrap_2_features {
        width: 437px;
    }
    .icon:nth-child(1n + 2) {
        margin-left: 72px;
    }
    .col-md-3 p {
        width: 173px;
    }
    .col-md-3 {
        height: 261px;
    }
    #container_features .featured {
        width: 86%;
        margin-left: 8%;
    }
    #paragrap_3_features {
        padding-left: 22%;
        width: 78%;
    }
}
@media(min-width: 768px) and (max-width: 991px) {
    .icon:nth-child(1n + 2) {
        margin-left: 22px;
    }
    .img {
        margin-left: 30px;
    }
    #ship .title, #haul .title {
        margin-bottom: 64px;
    }
    .img-responsive {
        position: relative;
        margin-top: 10px;
        height: 400px;
        float: left;
        width: 81%;
    }
    #contact .col-md-12 input{
        width: 100%;
    }
    input{
        width: 100%;
        margin-bottom: 22px;
    }
    #container_features .featured {
        width: 100%;
        margin-left: 0;
    }
    #address .col-md-4 {
        display: inline-block;
    }
    #paragraph_hidden{
        display: block;
        visibility: hidden;
    }
    #address .col-md-4:nth-child(1n + 2) {
        margin-left: 65px;
    }
    #paragrap_2_contact, .section-heading-spacer3 {
        margin-top: 30px;
    }
    #paragrap_4_contact {
        margin-bottom: 30px;
    }
    #paragrap_3_features {
        padding-left: 12%;
        width: 88%;
    }
    #features_right {
        margin-left: 0;
    }
    #features_left{
        display: none;
    }
    .section-heading-spacer1{
        margin-top: 50px;
    }
    #modal_video {
        float: left;
        margin-top: 20px;
        display: block;
        width: 470px;
        height: 322px;
        box-shadow: 0 13px 22px 0 rgba(0,0,0,0.12);
        border-radius: 5px;
    }
    .col-md-3:nth-child(1n + 5) {
        margin-bottom: 0;
    }
    .col-md-3{
        display: inline-block;
        width: 28%;
    }
    .col-md-3 p {
        width: 178px;
    }
    .p{
        display: block;
        visibility: hidden;
    }
    .paragrap_1_home {
        margin-top: 70px;
    }
    .intro-banner {
        height: 500px;
    }
    .paragrap_ship, #ship .title, .paragrap_haul, #haul .title, #button_ship, #button_carry{
        margin-left: 0;
    }
}
@media(min-width: 480px) and (max-width: 767px) {
    .icon:nth-child(1n + 2) {
        margin-left: 7px;
    }
    #ship{
        width: 430px;
        height: 340px;
    }
    #haul{
        margin-left: 16px;
        width: 430px;
        height: 340px;
    }
    .img {
        margin-left: 192px;
        width: 120px;
    }
    .section-heading-spacer2 {
        margin-top: 280px;
    }
    #ship .title, #haul .title {
        padding-top: 20px;
        font-size: 28px;
    }
    .paragrap_1_about{
        font-size: 28px;
        width: 420px;
    }
    .paragrap_ship, .paragrap_haul,.paragrap_1_features{
        font-size: 18px;
        width: 243px;
    }
    .paragrap_2_about{
        width: 320px;
        font-size: 18px;
    }
    #button_ship, #button_carry{
        height: 43px;
        font-size: 18px;
        width: 170px;
    }
    #button_talk_to_our_team, #button_get_in_touch{
        height: 43px;
        font-size: 18px;
        width: 200px;
    }
    #container_features .title{
        font-size: 18px;
        margin-top: 30px;
    }
    #paragrap_1_contact{
        font-size: 28px;
    }
    #paragrap_2_contact{
        font-size: 18px;
        margin-top: 0;
    }
    #paragrap_3_contact{
        font-size: 22px;
    }
    #paragrap_4_contact{
        font-size: 16px;
        margin-bottom: 30px;
    }
    .img-responsive {
        position: relative;
        margin-top: 10px;
        height: 400px;
        float: left;
        width: 432px;
    }
    #contact .col-md-12 input {
        width: 100%;
    }
    input{
        width: 100%;
        margin-bottom: 22px;
    }
    #container_features .featured {
        width: 100%;
        margin-left: 0;
        font-size: 28px;
        font-weight: 900;
    }
    .section-heading-spacer3 {
        margin-top: 30px;
    }

    #paragrap_3_features {
        padding-left: 15%;
        width: 84%;
        font-size: 18px;
        line-height: 25px;
        font-weight: 400;
    }
    lable{
        font-size: 14px;
    }
    #features_right {
        margin-left: 0;
    }
    #features_left{
        display: none;
    }
    .section-heading-spacer1{
        margin-top: 50px;
    }
    #modal_video {
        float: left;
        margin-left: 13px;
        margin-top: 20px;
        display: block;
        width: 432px;
        height: 322px;
        box-shadow: 0 13px 22px 0 rgba(0,0,0,0.12);
        border-radius: 5px;
    }
    .col-md-3:nth-child(1n + 5) {
        margin-bottom: 0;
    }
    .col-md-3{
        display: inline-block;
        width: 432px;
        height: 300px;
        background: #FFFFFF;
        margin-bottom: 20px;
    }
    .col-md-3 .title, .icon_col-3{
        margin-left: 35px;
    }
    .col-md-3 p {
        width: 225px;
        margin-left: 35px;
    }
    .p{
        display: block;
        visibility: hidden;
    }
    .paragrap_1_home {
        margin-top: 70px;
    }
    .intro-banner {
        height: 500px;
    }
    .paragrap_1_home, .paragrap_2_home{
        display: none;
    }
    .paragrap_2_home_hidden{
        display: block;
        margin-left: 18px;
        width: 250px;
        opacity: 0.53;
        font-family: Lato;
        font-weight: 400;
        font-size: 20px;
        color: #FFFFFF;
        text-shadow: 0 6px 7px rgba(0,0,0,0.16);
    }
    .paragrap_1_home_hidden{
        display: block;
        width: 330px;
        padding-top: 40px;
        margin-left: 18px;
        font-family: Lato;
        font-weight: 900;
        font-size: 28px;
        color: #FFFFFF;
        line-height: 32px;
        text-shadow: 0 5px 8px rgba(0,0,0,0.21);
    }
    .list-inline {
        margin-top: 0;
    }
    #button_profile {
        display: none;
    }
    #button_forum {
        visibility: hidden;
    }
    #button_forum:after {
        content:'Contact';
        display: block;
        visibility: visible;
        padding-top: 13px;
        width: 150px;
        height: 43px;
        font-size: 18px;
        border: 0;
        border-radius: 100px;
        color: white;
        background-color: #00AED8;
    }
    .navbar-default .navbar-toggle {
        margin-top: 21px;
        background: #FFFFFF;
        border-radius: 5px;
    }
    .navbar-default .navbar-toggle .icon-bar {
        font-family: simple-line-icons;
        font-size: 18px;
        background-color: #00AED8;
    }
    #title_features{
        display: none;
    }
    #title_features_hidden{
        display: block;
        margin-bottom: 30px;
        text-align: center;
        padding-left: 14%;
        width: 86%;
        height: 54px;
        font-family: Lato;
        font-weight: 900;
        font-size: 28px;
        color: #414449;
    }
    .container_features_hidden{
        display: block;
    }
    .container_features_hidden #title_features_hidden{
        text-align: center;
        height: 54px;
        padding-left: 23%;
        width: 79%;
        font-family: Lato;
        font-weight: 900;
        font-size: 28px;
        color: #414449;
    }
    .container_features_hidden #paragrap_3_features_hidden{
        margin-top: 30px;
        text-align: center;
        padding-left: 23%;
        width: 79%;
        height: 50px;
        font-family: Lato;
        font-weight: 900;
        font-size: 18px;
        color: #9B9B9B;
    }
    .features{
        background: #F8F8F8;
    }
    .section-heading-spacer {
        margin-top: 50px;
        width: 70px;
        height: 6px;
        background: #00AED8;
    }
    .container_features_hidden .col-md-3 {
        background: #F8F8F8;
    }
    .container_features_hidden .col-md-3 .title{
        margin-top: 20px;
        font-family: Lato;
        font-weight: 900;
        font-size: 22px;
        color: #414449;
        line-height: 42px;
    }
    .container_features_hidden .p{
        font-family: Lato-Regular;
        font-size: 16px;
        color: #9B9B9B;
        line-height: 20px;
    }
    .paragrap_2_features{
        display: none;
    }
    .paragrap_2_features_hidden{
        display: block;
        font-family: Lato;
        font-weight: 900;
        font-size: 28px;
        color: #FFFFFF;
        width: 250px;
    }
    .col-md-4 .title {
        padding-top: 0;
        padding-bottom: 0;
    }
    #address label{
        font-size: 16px;
    }
    #footer .footer-copyright{
        font-size: 14px;
    }
    .address_hidden img{
        width: 49px;
        margin-top: 30px;
        margin-left: 10px;
    }
    .address_hidden{
        display: block;
    }
}
@media(min-width: 320px) and (max-width: 479px) {

    .icon:nth-child(1n + 2) {
        margin-left: 15px;
    }
    .icon:nth-child(3) {
        width: 40px;
    }
    .icon:nth-child(2) {
        width: 110px;
    }
    .icon:nth-child(1) {
        width: 110px;
    }
    #ship{
        width: 334px;
        height: 320px;
    }
    #haul{
        margin-left: 16px;
        width: 334px;
        height: 320px;
    }
    .img {
        margin-left: 110px;
        width: 120px;
    }
    .section-heading-spacer2 {
        margin-top: 150px;
    }
    #ship .title, #haul .title {
        padding-top: 20px;
        font-size: 28px;
    }
    .paragrap_1_about{
        font-size: 21px;
        width: 339px;
        line-height: 26px;
        margin-bottom: 0;
    }
    .paragrap_ship, .paragrap_haul,.paragrap_1_features{
        font-size: 18px;
        width: 243px;
    }
    .paragrap_2_about{
        width: 320px;
        font-size: 18px;
        line-height: 20px;
    }
    #button_ship, #button_carry{
        height: 43px;
        font-size: 18px;
        width: 170px;
    }
    #button_talk_to_our_team, #button_get_in_touch{
        height: 43px;
        font-size: 18px;
        width: 200px;
    }
    #container_features .title{
        font-size: 18px;
        margin-top: 30px;
    }
    #paragrap_1_contact{
        font-size: 28px;
    }
    #paragrap_2_contact{
        font-size: 18px;
        margin-top: 0;
    }
    #paragrap_3_contact{
        font-size: 22px;
    }
    #paragrap_4_contact{
        font-size: 16px;
        margin-bottom: 30px;
    }
    .img-responsive {
        position: relative;
        margin-top: 10px;
        height: 230px;
        float: left;
        width: 432px;
    }
    #contact .col-md-12 input {
        width: 100%;
    }
    input{
        width: 100%;
        margin-bottom: 22px;
    }
    #container_features .featured {
        width: 95%;
        margin-left: 5%;
        font-size: 28px;
        font-weight: 900;
        line-height: 32px;
    }
    .section-heading-spacer3 {
        margin-top: 30px;
    }

    #paragrap_3_features {
        margin-bottom: 30px;
        padding-left: 6%;
        width: 90%;
        font-size: 18px;
        line-height: 25px;
        font-weight: 400;
    }
    lable{
        font-size: 14px;
    }
    #features_right {
        margin-left: 0;
    }
    #features_left{
        display: none;
    }
    .section-heading-spacer1{
        margin-top: 50px;
    }
    #modal_video {
        float: left;
        margin-left: 13px;
        margin-top: 20px;
        display: block;
        width: 338px;
        height: 240px;
        box-shadow: 0 13px 22px 0 rgba(0,0,0,0.12);
        border-radius: 5px;
    }
    .col-md-3:nth-child(1n + 5) {
        margin-bottom: 0;
    }
    .col-md-3{
        display: inline-block;
        width: 320px;
        height: 270px;
        background: #FFFFFF;
        margin-bottom: 20px;
    }

    .col-md-3 p {
        width: 225px;
    }
    .p{
        display: block;
        visibility: hidden;
    }
    .paragrap_1_home {
        margin-top: 70px;
    }
    .intro-banner {
        height: 500px;
    }
    .paragrap_1_home, .paragrap_2_home{
        display: none;
    }
    .paragrap_2_home_hidden{
        display: block;
        margin-left: 18px;
        width: 250px;
        opacity: 0.53;
        font-family: Lato;
        font-weight: 400;
        font-size: 20px;
        color: #FFFFFF;
        text-shadow: 0 6px 7px rgba(0,0,0,0.16);
    }
    .paragrap_1_home_hidden{
        display: block;
        width: 330px;
        padding-top: 40px;
        margin-left: 18px;
        font-family: Lato;
        font-weight: 900;
        font-size: 28px;
        color: #FFFFFF;
        line-height: 32px;
        text-shadow: 0 5px 8px rgba(0,0,0,0.21);
    }
    .list-inline {
        margin-top: 0;
    }
    #button_profile {
        display: none;
    }
    #button_forum {
        visibility: hidden;
    }
    #button_forum:after {
        content:'Contact';
        display: block;
        visibility: visible;
        padding-top: 10px;
        width: 150px;
        height: 43px;
        font-size: 18px;
        border: 0;
        border-radius: 100px;
        color: white;
        background-color: #00AED8;
    }
    .navbar-default .navbar-toggle {
        margin-top: 21px;
        background: #FFFFFF;
        border-radius: 5px;
    }
    .navbar-default .navbar-toggle .icon-bar {
        font-family: simple-line-icons;
        font-size: 18px;
        background-color: #00AED8;
    }
    #title_features{
        display: none;
    }
    #title_features_hidden{
        display: block;
        margin-bottom: 30px;
        text-align: center;
        padding-left: 11%;
        width: 89%;
        height: 54px;
        font-family: Lato;
        font-weight: 900;
        font-size: 28px;
        color: #414449;
    }
    .container_features_hidden{
        display: block;
    }
    .container_features_hidden #title_features_hidden{
        text-align: center;
        height: 54px;
        padding-left: 16%;
        width: 84%;
        font-family: Lato;
        font-weight: 900;
        font-size: 28px;
        color: #414449;
    }
    .container_features_hidden #paragrap_3_features_hidden{
        margin-top: 30px;
        text-align: center;
        padding-left: 17%;
        width: 84%;
        height: 50px;
        font-family: Lato;
        font-weight: 900;
        font-size: 18px;
        color: #9B9B9B;
    }
    .features{
        background: #F8F8F8;
    }
    .section-heading-spacer {
        margin-top: 50px;
        width: 70px;
        height: 6px;
        background: #00AED8;
    }
    .container_features_hidden .col-md-3 {
        background: #F8F8F8;
    }
    .container_features_hidden .col-md-3 .title{
        margin-top: 20px;
        font-family: Lato;
        font-weight: 900;
        font-size: 22px;
        color: #414449;
        line-height: 42px;
    }
    .container_features_hidden .p{
        font-family: Lato-Regular;
        font-size: 16px;
        color: #9B9B9B;
        line-height: 20px;
    }
    .paragrap_2_features{
        display: none;
    }
    .paragrap_2_features_hidden{
        display: block;
        font-family: Lato;
        font-weight: 900;
        font-size: 28px;
        color: #FFFFFF;
        width: 250px;
    }
    .col-md-4 .title {
        padding-top: 0;
        padding-bottom: 0;
    }
    #address label{
        font-size: 16px;
    }
    #footer .footer-copyright{
        font-size: 14px;
    }
    .address_hidden img{
        width: 49px;
        margin-top: 30px;
        margin-left: 10px;
    }
    .address_hidden{
        display: block;
    }
}